body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-color: grey #f5f5f5;
}
/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: grey;
}

section {
  padding: 50px 0;
}
section:focus {
  outline: none;
}
h1 {
  font-size: 35px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}
.a-white {
  color: white;
}

/*---- HEADER/NAV MENY----*/

header,
nav {
  height: 48px;
  font-weight: bold;
}

.nav-logo {
  margin: 0;
  height: 48px;
}
div.empty {
  width: 50vw;
}

.navmeny {
  display: flex;
  align-items: center;
}
.a-nav {
  padding: 15px 20px;
  margin-left: auto;
  margin-right: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.a-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ff7129;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.a-nav:hover:before {
  right: 0;
}
.a-nav:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* .a-nav {
  padding: 15px 20px;
  margin-left: auto;
  margin-right: 0;
} */
/* .a-nav:hover {
  background-color: black;
  color: white;
} */

a {
  text-decoration: none;
  color: #2e2f29;
}

a:visited {
  color: #2e2f29;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 10;
}
a:focus {
  outline: none;
}

.header-progress {
  width: 100%;
  pointer-events: none;
  appearance: none;
  max-height: 10px;
  border: 0;
  vertical-align: top;
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: #ff7129 !important;
}

/*---- Hamburger Menu ----*/
.icon {
  display: none;
}
@media screen and (max-width: 790px) {
  .navmeny {
    display: block;
  }
  .a-nav {
    display: none;
  }
  .navmeny a.icon {
    float: right;
    display: block;
    margin: 14px 10px 14px 0;
  }
  .sticky {
    position: relative;
  }
}
@media screen and (max-width: 790px) {
  .navmeny.responsive .icon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
  }
  .navmeny.responsive .a-nav {
    float: none;
    display: block;
    background: white;
    text-align: center;
    padding: 20px 0;
    opacity: 0.6;
  }
  .navmeny.responsive .a-nav:hover {
    background-color: #2e2f29;
    opacity: 1;
    font-size: 20px;
    color: white;
  }
  div.empty {
    display: none;
  }
}
/*---------------------------------*/

/*---- Section Image -----*/
.aside-logo {
  width: 100%;
  height: 350px;
  background-color: #2e2f29;
  padding: 50px 0;
}

.home-logo {
  border-radius: 50%;
  height: 350px;
  display: block;
  margin: 25px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 790px) {
  .home-logo {
    margin-top: 0;
  }
}
/*---------------------------------*/
/*---- About Me ----*/
.about {
  background-color: #fff;
}
/*---------------------------------*/
/*---- Projects ----*/
section.projects {
  background-color: #2e2f29;
  padding-bottom: 120px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.grid-item {
  width: 100%;
  overflow: hidden;
  background-color: lightgrey;
  transition: ease-in-out 0.2s all;
}
.grid-item:hover {
  opacity: 0.6;
}
.project-img {
  width: 100%;
  z-index: 1;
  transition: ease-in-out 0.2s all;
}
.project-img:hover {
  transform: scale(1.1);
}

/*---------------------------------*/
/*---- Buttons ----*/
.btn-project,
.btn-contact {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 55px 0 5px 0;
  transition: all 0.5s;
}
.btn-contact {
  background-color: #2e2f29;
  color: white;
}
.btn-project {
  background-color: white;
  color: #2e2f29;
  margin-top: 80px;
  margin-bottom: 0;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:hover {
  width: 220px;
  transition: 0.5s;
}
.button:focus {
  outline: none;
}
/*---------------------------------*/

/*---- Text ----*/
p,
h1,
h2,
h3,
a {
  font-weight: bold;
}
.about,
section.projects,
.contact {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.h2-about {
  font-size: 2.5rem;
}
.title-main-color {
  color: #ff7129;
}

p.about {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
p.projects,
h1.projects {
  color: white;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
p.projects {
  margin-top: 50px;
  margin-bottom: 60px;
}

p.contact {
  color: #2e2f29;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.p-white {
  color: white;
}
.h1-contact {
  margin-bottom: 0;
}
/*---------------------------------*/
/*---- Contact ----*/
.contact {
  margin: 0;
  background-color: #ff7129;
  padding: 75px 0 120px 0;
}
section.courses {
  padding: 10px 0;
}
/*---------------------------------*/
/*---- Footer ----*/
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #2e2f29;
  margin: 0;
  text-align: center;
  color: white;
  justify-content: center;
}
.a-footer {
  color: white;
}
.a-footer:hover {
  color: lightgrey;
}
.p-footer {
  margin: 0;
}
.footer-flex {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.fa-envelope,
.fa-discord,
.fa-github {
  background-color: #2e2f29;
  color: #fff;
  border-radius: 100%;
  padding: 7px;
  margin-right: 5px;
  border: 2px solid #ff7129;
  transition: ease-in-out 0.3s all;
}

.fa-envelope:hover,
.fa-github:hover {
  background-color: #fff;
  color: #272727;
}
i.fa-discord {
  width: 32px;
}
/*---- Grid Footer ----*/
@media screen and (max-width: 860px) {
  .footer-flex {
    margin-right: 15px;
  }
  .footer-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 750px) {
  .p-footer {
    font-size: 14px;
  }
}
@media screen and (max-width: 625px) {
  .p-footer {
    font-size: 12px;
  }
  .footer-img {
    width: 30px;
    height: 30px;
  }
}
/*----------------------------------*/
