body {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Lato", sans-serif;
  line-height: normal;
  overflow: hidden;
}
.cointainer {
  margin-top: 20px;
}
.btn {
  font-weight: bold;
  font-size: 20px;
  background: white;
}
.btn-outline-secondary:hover {
  background-color: #695e78;
}
.forms {
  margin: 0;
  width: 50%;
  float: left;
  margin-bottom: 20px;
  color: white;
}
input {
  text-align: center;
}
.form-control:focus {
  border-color: #695e78;
  box-shadow: 0 0 0 0.2rem rgba(105, 94, 120, 0.2);
}
